a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

.user-input::placeholder {
  font-size: 15px;
  color: grey;
  padding: 0 !important;
}

.user-label {
  padding-bottom: 0.5%;
  padding-left: 10px;
}

.form-select:focus {
  box-shadow: none;
}

.user-i {
  padding-left: 10px;
}

.newaccount {
  color: rgb(174, 235, 54);
  text-decoration: none;
}

small {
  color: rgb(174, 235, 54);
}

/* button */
.small-btn {
  text-align: center;
}

button {
  border: none;
}

.button {
  display: inline-flex;
  height: auto;
  background-color: rgb(174, 235, 54);
  overflow: hidden;
  font-size: 16px;
  border: none;
  align-items: center;
  border-radius: 5px !important;
}

.description {
  width: 95%;
  margin: auto;
  min-height: 80px;
  padding: 1%;
  justify-content: space-between;
}

.user-input {
  width: 100%;
  height: 40px;
  padding: 0% 10px;
  border: none;
  outline: none;
  background-color: rgba(178, 185, 185, 0.1);
  border-radius: 2px;
  letter-spacing: 0.3px;
}

.order-field {
  margin: 0 auto;
  width: 100%;
  padding: 1% 0%;
}

header {
  width: 100%;
  align-items: center;
}

.header-right {
  width: 50%;
  height: auto;
  padding: 1% 2%;
}

.header-left,
.header {
  font-size: 30px;
  line-height: 60px;
}

.user-b {
  padding: 1% 0% 1% 3%;
  display: inline-block;
}

.btn-text,
.icon {
  display: inline-block;

  align-items: center;
  padding: 0 5px;
  color: white;
  text-decoration: none;
}

.div {
  height: auto;
  width: 96%;
  margin: 2% auto;
  background-color: rgba(178, 185, 185, 0.1);
  border-radius: 10px;
}

.description {
  width: 95%;
  margin: auto;
  min-height: 80px;
  padding: 1%;
  position: relative;
  /* z-index: 1; */
}

Link {
  text-decoration: none;
}

.loader {
  height: 100px;
  width: 100px;
  margin: auto;
}

@media (max-width: 480px) {
  .btn-text {
    padding: 0px;
  }

  .user-input::placeholder {
    font-size: 12px;
  }

  .user-i {
    font-size: 15px;
  }

  .user-label {
    font-size: 15px;
  }

  .header-i {
    font-size: 22px;
    line-height: 44px;
  }

  .user-input {
    width: 100%;
    height: 30px;
    font-size: 15px;
  }

  .header-left {
    font-size: 15px !important;
    width: 100%;
  }
}